name: RISC-V bare metal CI

on:
  push:
    branches:
      - '**'
  pull_request:

  schedule:
  - cron: "11 4 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install dependencies
      run: |
          sudo apt update --yes
          sudo apt install -o Acquire::Retries=3 --yes \
              build-essential
    - name: make
      run: make hello
    - name: run
      run: ./hello | grep ^hello
